 /**
  * http://tympanus.net/codrops/2013/03/05/vertical-icon-menu/
  */

@font-face {
  font-family: "Fontawesome";
  src: url('fontawesome.eot') format('embedded-opentype'),
       url('fontawesome.ttf') format('truetype');
}
      
html, body { 
  margin: 0;
  padding: 0; 
  height: 100%; 
}

iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0; width: 100%; height: 100%;
  border: none;
  box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
html.left iframe {
  padding-left: 64px;
}
html.right iframe {
  padding-right: 64px;
}
html.top iframe {
  padding-top: 64px;
}
html.bottom iframe {
  padding-bottom: 64px;
}

#noconfig {
  display: none;
  position: absolute;
  top: 10%; left: 25%; right: 25%;
  padding: 40px;
  border: 2px solid red;
  background: #fee;
  z-index: 2200;
  text-align: center;
  font-family: sans-serif;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: 1100;
}
html.left #loading {
  left: 64px;
  top: 0;
}
html.right #loading {
  right: 64px;
  top: 0;
}
html.top #loading {
  top: 64px;
  left: 0;
}
html.bottom #loading {
  bottom: 64px;
  left: 0;
}

.icon {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);  
  font-family: "Fontawesome";
  font-size: 64px;
  color: #ccc;  
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

#nav {
  display: block;
  position: fixed;
  overflow: hidden;
  z-index: 1111;
  background: #f7f7f7;
  transition: all 300ms ease-in-out;
}
html.left #nav {
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
  border-right: 1px solid #ddd;
}
html.right #nav {
  right: 0;
  top: 0;
  width: 64px;
  height: 100%;
  border-left: 1px solid #ddd;
}
html.top #nav {
  left: 0;
  top: 0;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
html.bottom #nav {
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
  border-top: 1px solid #ddd;
}

#nav a {
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  padding: 0;
  font-family: "Fontawesome";
  font-size: 32px;
  text-decoration: none;
  color: #999;
  transition: all 300ms ease-in-out;
}
html.left #nav a, html.right #nav a {
  display: block;
  border-bottom: 1px solid #ddd;  
}
html.top #nav a, html.bottom #nav a {
  float: left;
  border-right: 1px solid #ddd;
}

html.left #nav span.spacer, html.right #nav span.spacer {
  height: 24px;
  width: 64px;
  display: block;
}
html.top #nav span.spacer, html.bottom #nav span.spacer {
  height: 64px;
  width: 32px;
  float: left;
}

#nav a:hover {
  background: #47a3da;
  color: #fff;
  font-size: 42px;
}
 
#nav a.active {
  background: #fff;
  color: #47a3da;
}

@media (max-width: 800px) {
  html.left iframe {
    padding-left: 32px;
  }
  html.left #nav {
    transform: translate(-50%, 0);  
  }
  html.left #nav:hover {
    transform: translate(0, 0);  
  }
  html.left #loading {
    left: 32px;
  }
}
